body {
	margin-top:5px;
	margin-left:150px;
	margin-right:150px;
	margin-bottom:5px;
	background: #DEE9E8;
	text-align: center;
}
.titre {
	border: 1px black solid;
		margin-top:25px5px;
	margin-bottom:18px;
	background-color: #86CDE4;
}
.liens {
	border: 1px black solid;
	background: #DEE9E8; /* remplace la couleur gris foncé */
	height: auto;
}
.page_1 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 10px;
	border: 1px black solid;
	background: silver;
}
.page_2 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 1px black solid;
	background: silver;
}
.page_3 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 1px black solid;
	background: silver;
}
.page_4 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 1px black solid;
	background: silver;
}
.page_5 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 1px black solid;
	background: silver;
}
.page_6 {
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
	font-family: Arial, sans-serif;
	border: 1px black solid;
	background: silver;
}
