/*Rien en ce qui concerne couleur, forme n'est définitif */

body {
 font-family: comic sans ms, sans-serif;
 width:900 px;
 min-height:670 px;
 margin-top:auto;
 margin-left:1500 px;
 margin-right:1500 px;
 border:auto;
 }
div#bandeau {
text-align:center;
	width:1370 px;
	height:75 px;
	font-family: comic sans ms, sans-serif;
	background-color:#E0F8F7;
	}
h1 {
 font-size: 250%;
 color:black;
 text-align: center;
 margin-bottom:20px;
 font-family: comic sans ms, sans-serif;
 font-weight:bold;
 text-shadow:5px;
}

/*div#menu { Ce bloc permet de créer un menu.
	float:left;
	width:100px;
	height:400px;
	background-color:#FF6699;
	}*/

.liens {
text-align:center;
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:150 px;
 margin-right:150 px;
 font-size:150%;
}

.page_1 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
font-size:100%;
}
.page_2 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
}
.page_3 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
}
.page_4 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
}
.page_5 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
}
.page_6 {
border: 1px black solid;
font-family: comic sans ms, sans-serif;
margin-top:auto;
margin-left:100 px;
margin-right:100 px;
}
